<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Equipment_Manager.Properties.Settings.Equipment_ManageConnectionString" connectionString="Data Source=localhost; User ID=admin; Password=pass; Initial Catalog=Equipment_Manage" providerName="System.Data.SqlClient"/>
 </connectionStrings>
 <appSettings>
		<add key="con" value="Data Source=localhost; User ID=admin; Password=pass; Initial Catalog=Equipment_Manage"/>
	 <add key="restore" value="Data Source=localhost; User ID=admin; Password=pass; Initial Catalog=Equipment_Manage"/>
	</appSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>

