<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Equipment_Manager.Properties.Settings.Equipment_ManageConnectionString"
   connectionString="Data Source=YL-201110271025\SQL2008; User ID=sa; Password=123; Initial Catalog=Equipment_Manage"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="con" value="Data Source=YL-201110271025\SQL2008; User ID=sa; Password=123; Initial Catalog=Equipment_Manage"/>
	 <add key="restore" value="Data Source=YL-201110271025\SQL2008; User ID=sa; Password=123; Initial Catalog=Equipment_Manage"/>
	</appSettings>
</configuration>